@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
}
<section id="contact" class="contact" style="background: #f5faf6;">
      <div class="container">
<div class="section-title">
          <h2 data-aos="fade-up">About Us</h2>
          <p data-aos="fade-up">Coming Soon.......</p>
</div>
</div>
</section>